.separationLine {
  color: #31359b;
}

.file-input::-webkit-file-upload-button {
  visibility: hidden;
  align-items: center;
  justify-items: center;
  width: 100%;
}
.file-input::before {
  content: "Choose file";
  display: block;
  background: #31359b;
  color: #fff;
  border-radius: 18px;
  width: 100%;
  align-items: center;
  text-align: center;
  padding: 4px 6px;
  font-weight: 700;
  font-size: 16pt;
}
.file-input:hover::before {
  background: #3c41c5;
}

.output-button {
  display: block;
  background: #31359b;
  color: #fff;
  border-radius: 18px;
  width: 270px;
  margin: 0 auto;
  align-items: center;
  text-align: center;
  border: 1px solid rgb(49, 53, 155);
  padding: 4px 6px;
  font-weight: 700;
  font-size: 16pt;
}

.output-button:hover {
  background: #3c41c5;
}

.resultBox {
  border: 2px solid #31359b;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 20px;
}
